    /* 一つ目の縁取りのスタイル */
    .double-outline {
        position: relative;
        font-size: 84px;
        font-weight: bold;
    }
    
    .double-outline::before,
    .double-outline::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        color: white;
    
    }
    
    .double-outline::before {
        z-index: -1;
        -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    }
    
    .double-outline::after {
        z-index: -2;
        -webkit-text-stroke-width: 15px;
    -webkit-text-stroke-color: rgb(0, 217, 255);
    }



    @font-face {
        font-family: keifont;
        src: url(./font/keifont.ttf);
    }


    
        /* 二つ目の縁取りのスタイル */

        #container > p {
            margin-top: 100px; margin-left: 10px;
            font-size: 35px; font-family: keifont;
            letter-spacing: 2px;
        }


      
    
    
        #container > :nth-of-type(1) {
            position: absolute;
            left: 0px;
      color: rgb(255, 0, 0);
    }
    
        #container > :nth-of-type(2) {
            position: absolute;
            left: 0px;
            z-index: -1;
      color: red;
      -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: rgb(240, 237, 237);
    
    }
    
    #container > :nth-of-type(3) {
        position: absolute;
            left: 0px;
            z-index: -2;
            color: red;
            -webkit-text-stroke-width: 12px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    
     
    }    