    /* 一つ目の縁取りのスタイル-START */
    .double-outline {
        position: relative;
        color: white;
        font-size: 35px;
        font-family: keifont;
    }
    
    .double-outline::before,
    .double-outline::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        color: white;
    
    }
    
    .double-outline::before {
        z-index: -1;
        -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: red
    }
    
    .double-outline::after {
        z-index: -2;
        -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: black;
    }
    /* 一つ目の縁取りのスタイル-END */


/* 二つ目の縁取りのスタイル-START */
        .double-outline-main {
        position: relative; 
        font-family: keifont;
        font-size: 35px;
    }

        .double-outline2 {
        position: absolute; 
        top: 0;
        left: 0;
    }


    .double-outline2:nth-of-type(1) {
        z-index: -1;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 5px;
    }
    .double-outline2:nth-of-type(2) {
        z-index: -2;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 10px;
    }
/* 二つ目の縁取りのスタイル-END */



/* 三つ目の縁取りのスタイル-START */
    .shorrow-double-outline {
        font-family: keifont;
        font-size: 35px;
        margin: 0;
        color: blue;
        /* Text color */
        text-shadow:
            /* Inner shadow for thicker border effect */
            2px 2px 0 white,
            -2px -2px 0 white,
            2px -2px 0 white,
            -2px 2px 0 white,
            /* Outer shadow for additional border effect */
            4px 4px 0 blue,
            -4px -4px 0 blue,
            4px -4px 0 blue,
            -4px 4px 0 blue;
    }
/* 三つ目の縁取りのスタイル-END */
